
a.note-list-item
,a:hover.note-list-item
{
	border-bottom: 1px solid #eeeeee;
	display: block;
	text-decoration: none;
	padding: 10px;
}


.list-item-title
{
	color: #666666;
}

.list-item-date
{
	color: #aaaaaa;
	font-size: 12px;
}

#all-notes .header
{
	border-bottom: 1px solid #eeeeee;
	min-height: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #666666;
	padding: 0 10px 0 10px;
}
